body, html {
    background-image:url("image/park.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
#man {
      position: fixed;
        bottom: 100px;

    width: 200px;
    height: 150px;
}

#garbage1{
    position: fixed;
    bottom: 30px;
    right:100px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}

#garbage2{
    position: fixed;
    bottom: 30px;
    right:200px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}


#garbage3{
    position: fixed;
    bottom: 30px;
    right:300px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}

#trash{
    position:absolute;
    top:60px;
    left:160px;
    width: 64px;
    height: 64px;
}

.labelContainer{
    position: absolute; 
    top:70px; 
    left:30px;
}

.firstCloud
{
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.secondCloud
{
    position:absolute;
    left:60px;
    top:20px;
    z-index:3;
}

.thirdCloud
{
    position:absolute;
    left:130px;
    top:5px;
    z-index:4;
}

div.bin div span
{
    font-size: normal; 
    font-weight: bold;
}

div.paper div span
{
    color:blue;
}

div.plastic div span
{
    color:yellow;
}


div.glass div span
{
    color:green;
}

.paperTrash{
    background-image:url("image/toilet.svg");
}

.plasticTrash{
    background-image: url("image/PlasticBottle.svg")
}

.glassTrash{
    background-image: url("image/pet_bottle.svg")
}


/* Flower area */

.positiveResult
{
position: absolute;
top: 200px;
left: 50px;
}

img#flower1 
{
    position: absolute; 
    top: 130px;
    left: 0px;
}
img#flower2 
{
    position: absolute; 
    top: 0px;
    left: 120px;
}
img#flower3 
{
    position: absolute; 
    top: 0px;
    left: 320px;
}
img#flower4 
{
    position: absolute; 
    top: 110px;
    left: 380px;
}


/* End of Flower area */

div.negativeResult
{
    height: 200px;
    width: 130px;
    position: absolute;
    right: 10px;
    bottom: 40px;
}

div.madPenguin
{
    background-image:url("image/Angry_Penguin.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.retry
{
    width: 100px;
    height: 35px;
    background-color: #00ee99;
    border: 1px black;
    left: 80px;
    bottom: 40px;
    border-radius: 10px;
    position: absolute;
    font-weight: bold;
    font-size: 20;
    padding-left:15px;
    padding-top:10px;
    color: grey;
}

div.retryEnabled
{
    color:black;
}

div.gameDescription
{
    width: 300px;
    
    left: 700px;
    top: 100px;
    position: absolute;
    font-weight: bold;
    font-size: 20;
    padding-left:15px;
    padding-top:10px;
    color:black;
}
