body, html {
    background-image:url("image/park.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
#man {
      position: fixed;
        bottom: 100px;

    width: 200px;
    height: 150px;
}

#garbage1{
    position: fixed;
    bottom: 30px;
    right:100px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}

#garbage2{
    position: fixed;
    bottom: 30px;
    right:200px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}


#garbage3{
    position: fixed;
    bottom: 30px;
    right:300px;
    width:80px; /*width of your image*/
    height:80px; /*height of your image*/
    background-image:url("image/garbage.svg");
}

#trash{
    position:absolute;
    top:60px;
    left:160px;
    width: 64px;
    height: 64px;
}

.labelContainer{
    position: absolute; 
    top:70px; 
    left:30px;
}

.firstCloud
{
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.secondCloud
{
    position:absolute;
    left:60px;
    top:20px;
    z-index:3;
}

.thirdCloud
{
    position:absolute;
    left:130px;
    top:5px;
    z-index:4;
}

div.bin div span
{
    font-size: smaller; 
    font-weight: bold;
}

div.paper div span
{
    color:blue;
}

div.plastic div span
{
    color:yellow;
}


div.glass div span
{
    color:green;
}

.paperTrash{
    background-image:url("image/toilet.svg");
}

.plasticTrash{
    background-image: url("image/PlasticBottle.svg")
}

.glassTrash{
    background-image: url("image/pet_bottle.svg")
}
